.Main2 {
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  height: 90vh;
}
.row {
  display: flex;
  width: 100%;
  height: 83vh;
}
.col-1 {
  display: flex;
  justify-content: center;
  width: 50%;
}
.NFT-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
}
.NFT-img .img1 {
  transform: translate(-144px, 81px) rotate(-28deg);

  position: absolute;

  width: 42%;
  height: 60%;
  object-fit: cover;
  background: linear-gradient(to right, #61dafb, #ff6c6c);
  border-radius: 20px;
  padding: 4px;
}
.NFT-img .img2 {
  transform: translate(-75px, 40px) rotate(-14deg);

  position: absolute;

  width: 42%;
  height: 60%;
  object-fit: cover;
  background: linear-gradient(to right, #61dafb, #ff6c6c);
  border-radius: 20px;
  padding: 4px;
}
.NFT-img .img3 {
  transform: rotate(0deg);

  position: absolute;

  width: 42%;
  height: 60%;
  object-fit: cover;
  background: linear-gradient(to right, #61dafb, #ff6c6c);
  border-radius: 20px;
  padding: 4px;
}

.col-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.col-2_heading {
  font-size: 35px;
}
.col-2_heading h1 {
  color: white;
  margin: 0;
}
.head {
  display: flex;
  font-size: xx-large;
}
.nfts h1 {
  margin: 0;
  background: linear-gradient(to right, #61dafb, #ff6c6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nft-p h1 {
  color: white;
  margin: 0;
}
.paragraph p {
  color: rgb(224, 224, 224);
  font-size: larger;
  font-weight: bold;
}
.btn-explore {
  margin-top: 3rem;
}

.btn-explore button {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 4rem;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
  border-radius: 15px;
}
.btn-explore button::after {
  --m-i: linear-gradient(#61dafb, #ff6c6c);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: linear-gradient(#00c8ff, #cf1a6f);

  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 3000ms infinite;
  animation-play-state: paused;
}
.btn-explore button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.btn-explore button,
.btn-explore button::after {
  box-sizing: border-box;
}

.btn-explore button:active {
  --border-width: 5px;
}
.scroll {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;

  width: 100%;
}
.scroll img {
  width: 3rem;
  filter: invert(1);
}

@media only screen and (max-width: 1024px) {
  .col-1 {
    display: flex;
    justify-content: center;
    width: 47%;
  }

  .NFT-img .img1 {
    transform: translate(-144px, 81px) rotate(-28deg);

    position: absolute;

    width: 42%;
    height: 42%;
    object-fit: cover;
    background: linear-gradient(to right, #61dafb, #ff6c6c);
    border-radius: 20px;
    padding: 4px;
  }
  .NFT-img .img2 {
    transform: translate(-75px, 40px) rotate(-14deg);

    position: absolute;

    width: 42%;
    height: 42%;
    object-fit: cover;
    background: linear-gradient(to right, #61dafb, #ff6c6c);
    border-radius: 20px;
    padding: 4px;
  }
  .NFT-img .img3 {
    transform: rotate(0deg);

    position: absolute;

    width: 42%;
    height: 42%;
    object-fit: cover;
    background: linear-gradient(to right, #61dafb, #ff6c6c);
    border-radius: 20px;
    padding: 4px;
  }
  .btn-explore button {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    width: 100%;
    height: 95vh;
    flex-direction: column;
  }
  .col-1 {
    width: 100%;
    height: 47%;
  }

  .NFT-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;
    padding-left: 160px;
  }
  .NFT-img .img1 {
    transform: translate(-144px, 81px) rotate(-28deg);

    position: absolute;

    width: 37%;
    height: 68%;
    object-fit: cover;
    background: linear-gradient(to right, #61dafb, #ff6c6c);
    border-radius: 20px;
    padding: 4px;
  }
  .NFT-img .img2 {
    transform: translate(-75px, 40px) rotate(-14deg);

    position: absolute;

    width: 37%;
    height: 68%;
    object-fit: cover;
    background: linear-gradient(to right, #61dafb, #ff6c6c);
    border-radius: 20px;
    padding: 4px;
  }
  .NFT-img .img3 {
    transform: rotate(0deg);

    position: absolute;

    width: 37%;
    height: 68%;
    object-fit: cover;
    background: linear-gradient(to right, #61dafb, #ff6c6c);
    border-radius: 20px;
    padding: 4px;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42%;
  }
  .btn-explore {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    height: 89vh;
  }
  .row {
    width: 100%;
    height: 92%;
    flex-direction: column;
  }
  .col-1 {
    width: 100%;
    height: 40%;
  }
  .NFT-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;
    padding-left: 160px;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
  }
  .col-2_heading {
    height: 25%;
    font-size: 25px;
    padding-top: 3rem;
  }
  .head {
    height: 25%;
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: center;
  }
  .paragraph {
    height: 25%;
  }
  .paragraph p {
    text-align: center;
    font-size: 15px;
  }
  .btn-explore {
    height: 25%;
    margin-top: 1rem;
  }
  .btn-explore button {
    font-size: 16px;
  }
}
