@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
body {
  margin: 0 !important;
  font-family: "Montserrat", sans-serif, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-image: url("./components2/assets/background.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
html,
body {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 375px) {
  body {
    background-size: cover;
    height: auto;
    background-position: center;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-size: cover;
    height: auto;
    background-position: center;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    background-size: cover;
    height: auto;
    background-position: center;
  }
}
